*
*/
!.gitignore
!LICENSE
!README.md
!.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!src/
!src/Trayy.h
!src/Trayy.cpp
!src/Trayy_UI.cpp
!src/updater.cpp
!src/hook.cpp
!src/Trayy.rc
!media/
!media/logo.ico
!media/demo.png
!media/demo.gif