*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.gitignore
!LICENSE
!README.md
!logo.ico
!Trayy.h
!Trayy.cpp
!Trayy_UI.cpp
!updater.cpp
!hook.cpp
!Trayy.rc
!demo.png
!demo.gif